{% extends 'base.html' %}
{% block content %}

<section>
<div class="card bg-dark text-white" style="height: 32rem">
  <img src="https://cdn.pixabay.com/photo/2018/02/19/10/36/paper-3164718_960_720.jpg" class="card-img img-fluid" alt="..." style="max-height: 100%;">
  <div class="card-img-overlay">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text">Last updated 3 mins ago</p>
  </div>
</div>
</section>


{% endblock %}